.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #8127BB;
    border-radius: 10px;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    gap: 10px;

    img{
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
}

.moreVertical{
    display: flex;
    flex-direction: column; 
}

div strong{
    font-weight: bold;
    text-decoration: underline;
}