.container{
  display: flex;
  flex-direction: row;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 24px;
  background: none;
  outline: none;
  border: 2px solid var(--purple);
  font-size: 16px;
  color: var(--purple);
  transition: background-color ease-in-out 0.2s;
}

.selected {
    background-color: var(--purple);
    color: #fff;
    font-weight: 700;
}


.wrapperCalendar{
  display: flex;
  flex-direction: column; 
}

.containerInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.inputCalendar{
  padding: 0.5rem 1rem;
  height: 100%;
  border: 2px solid var(--purple);
  font-size: 16px;
  color: var(--purple);
  background: none;
  outline: none;
  border: 2px solid var(--purple);
  border-radius: 24px;
}

.spanAdvice{
  display: block;
  font-size: 13px;
  position: absolute;
  margin-top: 3em ;
}
