.triboInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.triboInfo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.tribosTittle {
  font-weight: bold;
  height: 10vh;
  flex-direction: row;
}

.buttonStyle {
  display: flex;
  align-items: center;
  position: relative;
  top: 50px;
}
