.triboInfo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.tribosTittle {
  font-weight: bold;
  height: 20vh;
  flex-direction: row;
}
