.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.subcontainer {
    width: fit-content;
}

.subcontainer h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--purple-dark);
  margin-bottom: 1rem;
}

.subcontainer h3 {
    font-size: 1.5rem;
    color: var(--purple-dark);
    margin-bottom: 4rem;
}

.subcontainer #button {
    background-color: var(--purple-dark);
    color: var(--light-gray);
    width: 100%;
    font-weight: 700;
    font-size: 1.25rem;
    transition: all ease .2s;
}

.subcontainer #button:hover {
    background-color: #4a0880;
}
