.mainContent{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.userArea{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.icon{
    width: 40px;
    height: 40px;
    border: 1px solid #F9F9F9;
    box-sizing: border-box;
    border-radius: 100%;
}

.user{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
}

.actionsContent{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem; 
}

.buttons{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    opacity: 0.5;  
}
#reply{
    color: var(--blue-light);      
}

.buttons:hover{
    cursor: pointer;
}

#ignore{
    color: var(--purple-light);
}

.time{
    opacity: 0.6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
}

.subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-light);
}

.image{
    width: 440px;
    height: 300px;
}